body {
    margin: 0;
    padding: 0;
    overflow: hidden;
        text-align: center;
    
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    z-index: 1;
    transition: opacity 3s;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bn.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 0;
    transition: opacity 3s;
}

.text {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-40%, -50%);
    text-align: center;
    color: #fafa03;
    font-size: calc(20px + 1.5vw);
    font-family: Ubuntu;
    font-weight: 200;
    z-index: 2;
}

#icono {
    font-size: 70rem; 
}